<main>
    <div id="title-wrapper">
    <h1 id="title">Welcome to Burger Town</h1>
    <img id="title-img" src="assets/images/burger.png" alt="Sorry image could not be found.">
    </div>

    <form id="add-burger" action="/" method="post">
    <h2>Order Form:</h2>
    <hr>
        <div>
            <label for='burger-input'>Burger Name:</label>
            <input type='text' id='burger-input' name='name' placeholder='Double-Stack'>
        </div>
        <button class='submit-button' type='submit'>Submit</button>
    </form>

    <div id='plate'>
        <h2>Your Plate:</h2>
        <hr>
            {{#each burgers}}
            {{#unless this.devoured}}
                <div class='burger'>
                    <span>{{ this.burger_name }}</span>
                    <button class="devour-button" data-id={{this.id}}>Eat Me</button>
                </div>
            {{/unless}}
            {{/each}}
    </div>

    <div id='belly'>
        <h2>Your Belly:</h2>
        <hr>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class='burger'>
                <span>{{ this.burger_name }}</span>
            </div>
            {{/if}}
            {{/each}}
    </div>
</main>