body {
    background-color: orange;
}

#title {
    margin: 0 auto;
    text-align: center;
}

#title-img {
    width: 400px;
    height: 300px;
    margin: 10px 550px;
}

#add-burger {
    margin: 0 auto;
    text-align: center;
}

.submit-button {
    margin-top: 15px;
}

#plate {
    float: left;
    margin-left: 20px;
}


#belly {
    float: right;
    margin-right: 20px;
}